* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: lightblue;
    line-height: 1.6;
    padding: 20px;
}
header{
    width: 650px;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: black;
    text-shadow: 2px 2px 4px #aaa;
    font-size: 1.5em;
}
form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 2px;

}
legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}
label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}
input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}
input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
label {
  text-align: right;
  padding-right: 1rem;
}
button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
}
footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}
