.callout {
	background-color: darkblue;
    color: white;
    padding: 10px;
    margin: 20px 0;
    width: 800px;

}

.callout img {
	display: relative;
    float: right;
    margin-left: 20px;
    width: 200px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

blockquote {
	font-size: 25px;
}

cite {
	display: relative;
    font-size: 20px;
    border-top: 1px solid white;
    padding-top: 10px;
    text-align: center;
}