nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
    text-align: center;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main{
    width: 840px;
    border: 1px solid black;
}
aside {
    background-color: lightgray;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
    color: black;
    width: 500px;
    box-shadow: 0 0 30px gray;
}