:root{
    --primary-color: #e0f7fa;
    --secondary-color: #004d40;
    --accent-color: #00796b;
    --font-family: 'Arial', sans-serif;
    --header-font-size: 2.5em;
    --body-font-size: 1em;
}
header{
    display: grid;
    background-color: var(--primary-color);
    grid-template-columns: repeat(5, 1fr);
    color: var(--secondary-color);
    padding: 1em 0;
    font-family: var(--font-family);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header nav {
    background-color: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
header nav a {
    color: blue;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary-color);
}

header img{
    width: 80px;
    height: auto;
    display: block;
}
body{
    font-family: var(--font-family);
    color: var(--secondary-color);
}
header, main, footer{
    margin: 0 auto;
    width: 840px;
}
h1, h2{
    font-family: var(--font-family);
    color: var(--secondary-color);
}
nav, p, section,article {
    margin: 16px;
    padding: 8px;
}
section, aside{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width:840px;
    height: auto;
    margin: 2px;
    padding: 2px;
    border: 2px solid var(--secondary-color);
}
section h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 3/4;
    padding: 8px;
    position: block;
    grid-column: 1/6;
}
aside h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 3/4;
    padding: 8px;
    position: block;
    grid-column: 1/6;
}
aside h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 3;
    padding: 2px;
    position: block;
    grid-column: 2/4;
    font-size: medium;
}
form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 2px;

}
legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}
label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}
input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}
input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
label {
  text-align: left;
  padding-right: 1rem;
}
button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}
aside fieldset{
    display: flex;
    flex-direction: column;
    grid-column:4/6;
    grid-row:3/6;
}
fieldset label,input{
    display:flex;
    flex-direction:row;
    width:200px
}
button{
    width:70px;
    align-items: right;
}
aside img{
    width: 250px;
    display: flex;
    grid-column: 1/2;
    grid-row: 4/6;
}

figure img,figcaption{
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2, 3/4, 5/6;
}

.div{
    position: relative;
}
div img{
    width: 100%;
    height: auto;
    display: block;
}
h1{
    position: absolute;
    top: 200px;
    width: 800px;
    color: white;
    padding: 0;
    text-align: center;
    opacity: 0.7;
}
article{
    position: absolute;
    top: 250px;
    width: 800px;
    border: 2px;
    padding: 2px;
    margin:2px;
    color: black;
    background-color: white;
}
.hero article img{
    float: right;
    width: 125px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
footer{
    display: grid;
    grid-template-rows: repeat(5, auto);
    background-color:blue;
    color: white;
    height: 50px;
}
p, footer a{
    display: flex;
    flex-direction: row;
    justify-content: 1/5;
    align-items: center;
    position: relative;
    grid-row: 1/5;
    font-size: var(--body-font-size);
}
footer a img{
    width: 30px;
    height: 30px;
}