:root{
    --primary-color: #e0f7fa;
    --secondary-color: #004d40;
    --accent-color: #00796b;
    --font-family: 'Arial', sans-serif;
    --header-font-size: 2.5em;
    --body-font-size: 1em;
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1em 0;
    font-family: var(--font-family);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    line-height: 1.6;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
}